div.container {
    display: grid;
    grid-template-columns: 2fr 4fr 25px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header              header       header   header"
                         "main-content        main-content .        sidebar"
                         "copyright-notice    footer       footer   footer";
    /* gap: 10px; */
    row-gap: 5px;
    column-gap: 10px;
    margin: 10px;                
}

div.item-a {
    grid-area: header;
}

div.item-b {
    grid-area: main-content;
    display: flex;
}

div.one {
    place-self: center;
}

div.two {
    align-self: center;
    width: 50%;
}

div.three {
    align-self: start;
}

div.four {
    align-self: end;
}

div.item-c {
    grid-area: sidebar;
}

div.item-d {
    grid-area: footer;
}
div.item-e {
    grid-area: copyright-notice;
}


@media(max-width: 768px) {
    div.container {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100px 4fr 1fr 100px;
        grid-template-areas: "header header"
                             "main-content main-content"
                             "sidebar sidebar"
                             "copyright-notice footer";
    }
}


/* Below this line is not related to the grid */
div.container {
    height: 100%;
}

#grid-example {
    width: 75%;
    height: 75%;
    background-color: gray;
    margin: auto;
    top: 50px;
    position: relative;
}

.box {
    background-color: darkgrey;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: 1px solid black;
}

.one {
    background-color: red;
}

.two {
    background-color: green;
}

.three {
    background-color: blue;
}

.four {
    background-color: yellow;
}

.item {
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}




