:root {
    --standard-element-width: 50vw;
    --company-text-color: green;
    --company-outline-color: black;
    --standard-text-gradient: linear-gradient(lightblue, pink);
}

h1 {
    color: blue;
}

section h2 {
    background-color: yellow;
    color: var(--company-text-color);
    width: var(--standard-element-width);
}

section > p {
    color: var(--company-text-color);
    font-size: 1.5rem;
    width: var(--standard-element-width);
}

section > div {
    color: var(--company-text-color);
    font-size: 1.75rem;
    border: 1px solid var(--company-outline-color);
    padding: 10px;
    width: var(--standard-element-width);
}

section > div > p {
    color: teal;
    background-image: var(--standard-text-gradient);
    padding: 5px;
    width: var(--standard-element-width);
}



