* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

img {
  display: block;
  align-self: center;
  
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  position: fixed;
  border-right: 1px solid rgba(0, 173, 238, 0.4);
  
  width: 200px;
  height: 100%;
}

a{
  color:#00ADEE;
  text-decoration-color: #00ADEE;
  font-weight: bold;
  text-decoration: none;
}

li{
  text-align: center;
  border-style: solid;
  border: rgba(0, 173, 238, 0.4) 1px solid;
  margin:auto;
  list-style-type: none;
}

h2{
  text-decoration-color: #8CC36F;
}

